*{
	margin: 0;
	padding: 0;
}
ul,li,body,h2,p,div{
	margin: 0;
	padding:0;
	list-style: none;
	list-style-type: none;
}
body{
	backgound-color:#FFFFFF;
	margin: 0;
}
/* #wrap{ */
	/* width: 1160px; */
	/* margin: 0 auto; */
/* } */
#header{
	background-color: #fff;
	height: 105px;
}
#banner{
	height: 300px;
	background-color: #FFFFFF;
	background-image: url(images/banner.services.png);
	background-repeat: no-repeat;
	background-position: center center;
	}
#main{
	background-color: #F7F8F9;
}
.page1160{
	background-color: #333;
	width: 1160px;
	margin: 0 auto;
}
#logo{
	float: left;
	margin:0 auto;
	width: 503px;
	}
#nav{
	background-color: white;
	width: 544px;
	overflow: hidden;
	float: left;
}
#nav li{
	width: 100px;
	overflow: hidden;
	float: left;
}
#nav1{
	background-color: white;
	float: right;
	float: center;
}
.section1{
	background-color: #F7F8F9;
	overflow: hidden;
}
.section2{
	overflow: hidden;
}
#left{
	background-color: azure;
	width:768px;
	float: left;
}
#right{
	background-color: beige;
	width: 376px;
	float: right;
}
.wangdian li{
	background-color: #F0FFFF;
	margin: 0 0 10px 0;
	width: 370px;
	float: left;
	overflow: hidden;
}
.wd-pic1{
	width:139px;
	float:left;
}
.wd-txt{
	width: 180px;
	float: left;
}
#footer{
	background-color: #333;
}